@font-face {
    font-family: Playball; /* ָל רנטפעא */
    src: url(../fonts/playball.ttf); /* ֿףע ך פאיכף סמ רנטפעמל */
}
body{
    height: 100%;
    margin: 0;
}
#app {
    width: 100%;
    height: 100%;
    position: fixed;
    overflow: auto;
}
h1 {
    font-size: 56px;
    color: #556B2F;
    margin-top: 50px;
    text-align: center;
    font-family: Playball;
}
.content {
    background: url('../img/background.jpg');
    min-height: 100%;
    background-repeat: no-repeat;
    background-size: cover;
}

.one-block {
    background-color: rgba(238, 238, 238, 0.7);
    min-height: 220px;
    border: solid 1px #000;
    padding: 40px;
    position: relative;
    margin: 0px 20px;
}
.one-block img{
    vertical-align: bottom;
}

.my-button {
    width: 150px;
    opacity: 1;
    background: #FFDD27;
    margin-top: 20px;
}
.sort {
    background: #42B526;
}
.button-block {
    text-align: right;
    margin-bottom: 40px;
}

.block-img {
    display: inline-block;
}

.list-complete-item {
    transition: all 1s;
    display: inline-block;
    margin-right: 10px;
}
.list-complete-enter, .list-complete-leave-active {
    opacity: 0;
    transform: translateY(30px);
}
.list-complete-leave-active {
    position: absolute;
}

.active {
    border-bottom: 2px solid #FFDD27;
}
.block-setting {
    background-color: rgba(250, 250, 250, 1);
    margin: 20px 0px;
    color: #000000;
}

.block-setting span {
    font-size: 28px;
}