@font-face {
    font-family: 'Playball';
    src: local('Playball'), local('Playball-Regular'), url('playball.woff2') format('woff2'), url('playball.woff') format('woff'), url('playball.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}
